<h2 style="border-bottom:1px solid grey">Contact</h2>
<form style="display:flex;flex-direction:column;border:1px solid grey;width: 15rem;align-items: center;">
    <input style="margin: 10px;width: 10rem" type="text" placeholder="name">
    <input style="margin: 10px;width: 10rem" type="text" placeholder="lastname">
    <input style="margin: 10px;width: 10rem" type="email" placeholder="email">
    <textarea style="margin: 10px;width: 10rem" name="textarea" cols="40"></textarea>
    <button style="margin: 10px;width: 10rem"type="submit">Sumbit</button>
</form>