<h2 style="border-bottom:1px solid grey">News</h2>
<div style="border: 1px grey solid;margin:15px;padding:15px">
    <h3>News title</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam est
    omnis labore vero porro odio veritatis, placeat illo soluta corrupti quod
    enim reiciendis eum minima. Eveniet mollitia numquam harum animi!</p>
</div>
<div style="border: 1px grey solid;margin:15px;padding:15px">
    <h3>News title</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam est
    omnis labore vero porro odio veritatis, placeat illo soluta corrupti quod
    enim reiciendis eum minima. Eveniet mollitia numquam harum animi!</p>
</div>
<div style="border: 1px grey solid;margin:15px;padding:15px">
    <h3>News title</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam est
    omnis labore vero porro odio veritatis, placeat illo soluta corrupti quod
    enim reiciendis eum minima. Eveniet mollitia numquam harum animi!</p>
</div>