<h3>{{title}}</h3>
{{#if conocido}}
<p>Hola {{nombre}} <a href="/mayor_de_edad">Ingresar edad</a> </p>
{{/if}}

{{#unless conocido}}
<p>No te conozco</p>
<form action="/pseudo_login" method="post">
    <input type="text" name="nombre"><button>ingresar</button>
</form>
{{/unless}}