<h2 style="border-bottom:1px solid grey">About us</h2>
<p style="border: 1px solid grey; padding: 20px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores magnam natus
  facere id labore. Cum sequi earum sint repudiandae incidunt dolores adipisci
  unde cupiditate deleniti perferendis explicabo natus recusandae fuga, sit
  praesentium, consequuntur quae odit totam voluptates! Aliquam, repellendus
  vel.</p>